[submodule "stela-backend"]
	path = stela-backend
	url = https://github.com/gsoare2/stela-backend.git
	branch = master
[submodule "stela-frontend"]
	path = stela-frontend
	url = https://github.com/gsoare2/stela-frontend.git
